* {
	box-sizing: border-box; 
}
body {
	display: flex;
	flex-direction: row;
	margin: 0;
}

h5 {
	color: black;
	margin: 0;
	font-weight: normal;
}

h1,h2,h3, h4 {
	color:rgb(45,116,181);
}
.col-1 {
	padding-top:300px;
	background-image: url("content/testheader.png");
	background-position: left top;
	background-repeat: no-repeat;
	flex: 1;
}
.col-2 {
	display: flex;
	flex-direction: column;
	flex: 5;
	max-width:59vw;
}
.content {
	background: white;
	display: flex;
	flex-direction: row;
	max-width:80vw;
}
.content > article {
	flex: 4;
	min-height: 84vh;
	padding:0;
	padding-left: 20px;
}
.content > aside {
	position:fixed;
	right:0;
	background: white;
	border: solid 1px;
	flex: 1;
	max-width: 20vw;
	min-width: 20vw;
	max-height: 500px;
}

#ntnuLogo {
	position:fixed;
	right: 15px;
	bottom: 15px;
	width:10vw;
}

#meny_item_kategory {
	margin: 0 0 0 0 !important;
}


footer, header {
	background: white;
	height: 6vh;
	max-height: 6vh;
	min-height: 6vh;
	width: 65vw;
	padding:0;
}
header, footer, article, nav, aside {
	padding: 1em;
}
nav {
	max-width:20vw;
	min-width:20vw;
}



.logo > img {
	overflow: hidden;
	width: 15vw;
	display:block;
	margin:-30 0 0 -30;
	padding: 0 0 30 0;
}

button.accordion {
    background-color: white;
    color: #454545;
    cursor: pointer;
    padding: 5 5 0 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
	margin:0;
}

button.accordion.active, button.accordion:hover {
    background-color: white; 
	margin:0;
}


div.items {
    display: none;
    background-color: white;
}

.icon-collapse {
	position:absolute !important;
	font-size:2em;
	padding:0.25em;
}

.items > p {
	cursor: pointer;
	color: #606060;
	padding: 5 0 0 20;
	margin:0;
}

#collapse-btn {
	position:absolute; 
	cursor: pointer;
}
#navHolder {
}

#spacer {
	margin: 10 0 0 0;
}

.navRemove{
	width:0;
}
/*
.MobileContentWidthFix > article {
	min-width: 85vw;
}
.contentWidthFix {
	min-width: 95vw;
}
.logWidth{
	width:58vw;
}
.logWidthFix {
	width: 78vw;
}

.col-1WidthFix {
	max-width:75vw;
}

.navRemove{
	width:0;
}
.mobileLogWidth {
	width: 50vw;
}
.mobileNav{
	max-width:30vw;
	min-width:30vw;	
}
*/
/* MOBILE SHIT */

@media screen and (max-width: 1300px){
	nav {
		max-width:30vw;
		min-width:30vw;
	}
	.content > article {
		max-width:50vw;
		min-width:50vw;	
	}
	.contentWidthFix {
		min-width: 80vw !important;
	}
	footer, header {
		background: white;
		height: 6vh;
		max-height: 6vh;
		min-height: 6vh;
		width: 70vw;
		padding:0;
	}
	.navRemove{
		width:0;
	}
	#ntnuLogo {
		width:15vw;
	}
}

.PCNav{
	
}

.tg  {border-collapse:collapse;border-spacing:0;border:none;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg th{text-align: left !important; font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg .tg-9hbo{font-weight:bold;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}